.login-page{
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    margin: 0 auto;
    background: url('../../Assets/images/bg-login.jpeg');
    background-size: cover;
    form {
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.07);
        padding: 50px;
        position: relative;
        max-width: 400px;
        @media screen and (max-width: 600px) {
            max-width: 80%;
            padding: 25px;
        }
        h5 {
            font-size: 2rem;
            text-align: left;
            color: #1888f5;
            font-weight: 700;
            margin-bottom: 30px;
            @media screen and (max-width: 600px) {
                font-size: 24px;
                margin-bottom: 15px;
            }
        }
        .user-icon {
            position: absolute;
            right: 0;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            border-radius: 50px;
            top:-45px;
            background-color: #fff;
            @media screen and (max-width: 600px) {
                width: 40px;
                height: 40px;
                top: -30px;
            }
            img {
                width: 35px;
            }
        }
        .MuiFormLabel-root {
            margin-bottom: 6px;
            font-weight: 600;
            color: #111;
        }
        .login-btn {
            height: 60px;
            width: 100%;
            display: block;
            background: #1888f5;
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            font-family: "Roboto", sans-serif;
            border-radius: 5px;
            outline: none;
        }
        .MuiGrid-item {
            padding-top: 25px;
        }
    }
    .error{
        color: #d32f2f;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 500;
    }
    .form-small-text {
        text-align: center;
        font-size: 14px;
        a {
            margin-left: 5px;
            color: #1888f5;
            text-decoration: none;
            font-weight: 600;
        }
    }
}